.button-like {
  outline: none;
  border: none;
  width: 22px;
  height: 19px;
  background-image: url(../../images/unliked-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity 0.25s ease-in-out;
  box-sizing: border-box;
}

.button-like:hover {
  opacity: 0.5;
}

@media (hover: none) {
  .button-like:hover {
    opacity: 1;
  }
}