.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  padding-bottom: 10px;
  padding-left: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  box-sizing: border-box;
}

.popup__input::placeholder {
  color: #c4c4c4;
}