.popup__container {
  position: relative;
  z-index: 99;
  background-color:white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  padding: 34px 36px 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 618px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px 25px;
  }
}